# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL = ""
AWS_SECRET_ACCESS_KEY= ""
AWS_ACCESS_KEY_ID=""

NEXTAUTH_SECRET=""    
